@keyframes bounce {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    transform: scale(1.8);
    opacity: 0.1;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes error-pulse {
  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.02);
  }

  100%{
    transform: scale(1);
  }
}

@keyframes tooltop-error-pulse {
  0%{
    transform: scale(1) translateX(-50%) translateY(-110%);
  }

  50%{
    transform: scale(1.02) translateX(-50%)  translateY(-110%);
  }

  100%{
    transform: scale(1) translateX(-50%) translateY(-110%);
  }
}

@keyframes callFound {
  100%{
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes shakeLogin {
  10%, 90% {
    transform: translate3d(-52%,-50%,0);
  }

  20%, 80% {
    transform: translate3d(-48%,-50%,0);
  }

  30%, 50%, 70% {
    transform: translate3d(-54%,-50%,0);
  }

  40%, 60% {
    transform: translate3d(-46%,-50%,0);
  }
}

@keyframes slideDownLogin{
  0% {
    transform: translate3d(-50%,-80%,0) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translate3d(-50%,-50%,0) scale(1);
    opacity: 1;
  }
}

@keyframes rotate180 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

@keyframes waiting-call-spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes callStatusPulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    background: var(--background-when-pulsing);
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes rippleShadow {
  0% {
    box-shadow: 0 0 0 0;
    opacity: .6;
  }
  100% {
    box-shadow: 0 0 0 10px;
    opacity: 0;
  }
}

@keyframes dot-jump {
  0%{
    transform: none;
    opacity: 1;
  }
  50% {
    transform: translate3d(0,-10px, 0);
    opacity: 0.8;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes toast-appear {
  0%{
    opacity: 0;
    transform: translateX(-50%) scale(0);
  }
  100%{
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes toast-disappear {
  0%{
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  100%{
    opacity: 0;
    transform: translateX(-50%) scale(0);
  }
}