@import "../../../../../../../vendor/maximo/interfacegraphique/src/Resources/public/themes/callcenter/css/variables";
@import "../../../../../../../vendor/maximo/interfacegraphique/src/Resources/public/themes/callcenter/css/animations";
@import "../../../../../../../vendor/maximo/interfacegraphique/src/Resources/public/themes/callcenter/css/fonts";
@import "../../../../../../../vendor/maximo/interfacegraphique/src/Resources/public/themes/callcenter/css/palette";
@import "../../../../../../../vendor/maximo/interfacegraphique/src/Resources/public/themes/callcenter/css/bootstrap-custom";


@import "../../../../../../../vendor/maximo/interfacegraphique/src/Resources/public/themes/callcenter/css/style.scss";



body {
  background-color: lightgray;
}

#app_side_script{
  &.adresse {
    div.blocAdresse {
      position:relative;
      span.minmax{
        display: block;
        position:absolute;
        top:2.4em;
        &.error{
          color:red;
        }
      }
      #adresse76310List {
        padding: 0.5em;
        z-index: 10;
        position: absolute;
        top:2.2em;
        left:20em;
        background-color: none;

      }
    }
  }
}

#auxide_cadhvx{

}



#typegeo_libgeo{
  div.from{
    width:50%;
    float:left;
    margin-bottom: 1em;
    &.right{
      float:right;
    }
    div.card-body{
      padding:0;
      div.alert{
        margin-bottom: 0;
      }
    }
  }
}

#blocsUpdate{
  display: none;
  margin-top:0.4em;
  &.show{
    display:block;
  }
  button#update{

  }
}

#blocsAdresse{

}

#blocsInfos{

  h1{
    margin-bottom: 0.4em;
    font-size: 1.6em;
    text-transform: uppercase;
    span{
      background-color: #FFF;
    }
  }
  div {

    margin:0;
    padding:0;
    span.val {
      background-color: #FFF;
    }

    &.infos{
      text-align: right;
    }

    &.type_adresse {

    }

    h4 {
      display: inline-block;
      margin: 0;

      &.etablissement {
        span {
          color: #FFF;

          &.epicerie {
            background-color: $epicerie;
          }

          &.surgele {
            background-color: $surgele;
          }

          &.mixte {
            background-color: $mixte;
          }
        }
      }

    }
  }

}

