$header_height : 60px;
$stats_height : 110px;
$main_dark : #3b5998;
$block_border_color : #e6e6e6;
$light_grey : #dcdcdc;
$admin_menu_background : #224d9b;
$modal_header_background : $main_dark;

$switch_on: $admin_menu_background;
$switch_off: #e1e1e1;

$epicerie : #CB413E;
$surgele : #2977cb;
$mixte : #6441A4;

$animation_style : cubic-bezier(.31,.81,.31,.82);
$animation_duration : .2s;
