<form>


        <div class="row">
            <div class="col align-self-center gy-2">
                <div class="d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a class="btn btn-warning connect_social" href="#" role="button">getaccesstokenGoogle</a>
                    </div>
                </div>
            </div>

            <div class="col align-self-center gy-2">
                <div class="d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a class="btn btn-warning connect_social" href="/github_authorize" role="button">github_authorize</a>
                    </div>
                </div>
            </div>
        </div>



</form>

