<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}|PRIVAT|{% endblock %}</title>
        <link rel="icon" type="image/jpg" href='bundles/marmitsoauth2identification/marmitslogo2.png' />
         
     
        {% block css %}

        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block js %} {% endblock %}
    </body>
</html>
